.page {
    margin: 0;
    padding-top: 28px;
    background: #000000;
    background-size: cover;
    width: 100%;
}

.header {
    display: flex;
    margin: 0;
    margin-bottom: 42px;
    padding: 0;
    max-width: 320px;
    min-height: 56px;
    opacity: 0.7;
    border-bottom: 1px solid #545454;
}

.header__logo {
    align-self: start;
    padding-left: 27px;
    max-width: 14vh;
    min-height: 4vh;
}

.main {
    padding: 0 19px;
}

.profile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 36px;
    max-width: 282px;
}

.profile__avatar {
    justify-self: center;
    margin: 0;
    border-radius: 50%;
    max-width: 24vh;
    max-height: 18vh;
}

.profile__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin: 0;
    margin-top: 22px;
    padding: 0;
}

.profile__text-title {
    margin: 0;
    margin-bottom: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}

.profile__text-subtitle {
    margin: 0;
    margin-bottom: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.profile__AddButton {
    max-width: 282px;
    min-height: 50px;
    background: #000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}

.profile__EditButton {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: 10px;
    padding: auto 0;
    width: 18px;
    height: 18px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: #000000;
}

.cards {
    margin: 0 auto;
    margin-bottom: 48px;
}

.cards__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.cards__container {
    display: flex;
    justify-content: space-between;
    max-width: 282px;
    margin: 0;
    padding: 25px 15px 31px 21px;
    border-top: none;
}

.cards__item {
    box-sizing: border-box;
    justify-self: center;
    background: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.cards__pic {
    max-width: 282px;
}

.cards__text {
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.footer {
    max-width: 282px;
    margin: 0 auto;
}

.footer__text {
    margin: 0;
    margin-bottom: 36px;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
}

@media screen and (min-width:760px) {
    .page {
        padding-left: 45px 200px 0;
    }
    .header__logo {
        padding-left: 0px;
        max-width: 20vh;
        min-height: 5vh;
    }
    .profile {
        grid-template-rows: repeat(1, 1fr);
        justify-content: center;
        max-width: 880px;
    }
    .cards__items {
        grid-template-columns: repeat(3, 1fr);
        gap: 17px;
    }
}