.popup__form {
    position: relative;
    padding: 0;
    justify-content: center;
    width: 282px;
    height: 322px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (min-width: 760px) {
    .popup__form {
        width: 430px;
        height: 330px;
    }
}