.popup__saveButton {
    position: absolute;
    left: 22px;
    right: 22px;
    bottom: 25px;
    padding: 0;
    align-items: center;
    width: 238px;
    height: 46px;
    background: #000000;
    border-radius: 2px;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.popup__saveButton:hover {
    opacity: 0.8;
}

@media screen and (min-width: 760px) {
    .popup__saveButton {
        left: 36px;
        right: 36px;
        bottom: 37px;
        width: 358px;
        height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
}