    .profile__AddButton {
        max-width: 282px;
        min-height: 50px;
        padding: 0;
        background: #000000;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 2px;
    }
    
    .profile__AddButton:hover {
        opacity: 0.6;
    }
    /*@media screen and (min-width: 760px) {
        .profile__AddButton {}
    }
    */
    
    @media screen and (min-width: 1024px) {
        .profile__AddButton {
            min-width: 150px;
            max-height: 50px;
            align-self: center;
        }
    }
    
    @media screen and (min-width: 1280px) {
        .profile__AddButton {
            justify-self: end;
            align-self: center;
            margin-left: 244px;
            margin-right: 0;
            padding: 0;
            min-width: 150px;
            max-height: 50px;
        }
    }